$primary-color: rgb(70, 133, 175);
$second-color: #d4163c;
$font-family: "Montserrat", sans-serif;
$main-bg: "D:\git\BidKoi\KoiAuction\src\assets\Picsart_24-09-25_16-28-33-038.png";
@keyframes slide-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.app {
  .container {
    max-width: 100%;
    margin: 0 auto;
    // padding: 20px;

    .main-content {
      .hero-section {
        position: relative;
        text-align: center;
        padding: 75px 0;
        animation: slide-down 0.6s ease-out;

        @media (max-width: 768px) {
          padding: 40px 0;
        }

        .hero-container {
          padding: 0px 20px;

          .hero-content {
            width: auto;
            height: auto;

            .hero-header {
              margin: 0 0 80px;
              animation-delay: 0.2s;

              @media (max-width: 768px) {
                margin: 0 0 40px;
              }

              .logo-container {
                position: relative;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 0px 0px 80px;

                .logo {
                  //   display: block;
                  max-width: 800px;
                  height: auto;
                  width: 100%;
                  border-radius: 0 0 10px 10px;
                  margin: 0 auto;

                  @media (min-width: 1024px) {
                    width: 800px;
                    height: 432px;
                  }
                }

                .title-container {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 8px;
                  background-color: #2b2e4033;
                  line-height: 24px;
                  padding: 0px;
                  width: 751px;
                  height: 108px;
                  margin-right: 5px;
                  position: absolute;
                  left: 49.7%;
                  bottom: -5%;
                  transform: translateX(-50%);
                  background-color: rgba(0, 0, 0, 0.7);
                  background: #2b2e4033;

                  backdrop-filter: blur(10px);

                  @media (max-width: 1024px) {
                    width: 100%;
                  }

                  svg.site-logo {
                    height: 96px;
                    width: 96px;
                    line-height: 24px;
                  }

                  .site-title {
                    font-family: "Righteous", sans-serif;
                    color: #fff;
                    font-size: 96px;
                    font-weight: 500;
                    margin: 0;

                    @media (min-width: 1024px) {
                      font-size: 96px;
                    }
                  }
                  .site-tagline {
                    font-size: 24px;
                    font-family: "Montserrat", sans-serif;
                    color: #fff;
                    font-weight: 500;
                    letter-spacing: 0.6px;
                    margin: 32px 0;
                    writing-mode: vertical-rl; // Xoay chữ theo chiều dọc từ dưới lên
                    transform: rotate(180deg); // Đảo ngược chiều hiển thị chữ
                    align-self: center;

                    @media (min-width: 1024px) {
                      font-size: 24px;
                    }
                  }
                }
              }
              .hero-title {
                font-family: "Quicksand", sans-serif;
                width: 1200px;
                // height: 198px;
                font-size: 72px;
                font-weight: 700;
                line-height: 99px;

                color: black;

                margin: 0px auto 32px;
                text-align: center;
                text-transform: capitalize;

                .highlight {
                  font-family: "Quicksand", sans-serif;
                  color: #d4163c;
                  display: inline;
                }
                @media (max-width: 1200px) {
                  width: 90%;
                  font-size: 60px;
                  line-height: 80px;
                }

                @media (max-width: 1024px) {
                  width: 80%;
                  font-size: 48px;
                  line-height: 64px;
                }

                @media (max-width: 768px) {
                  width: 90%;
                  font-size: 36px;
                  line-height: 48px;
                }

                @media (max-width: 480px) {
                  width: 95%;
                  font-size: 24px;
                  line-height: 32px;
                }
              }

              .button-container {
                display: grid;
                align-items: center;
                justify-content: center;
                grid-gap: 16px;
                grid-template-columns: repeat(2, auto);
                // grid-template-columns: 1280px;
                // grid-template-rows: 100px;
                // line-height: 24px;
                margin: 0px 0px 40px;
                animation-delay: 0.2s;

                @media (max-width: 768px) {
                  grid-template-columns: 1fr;
                  grid-gap: 12px;
                }

                .btn1,
                .btn2,
                .btn-view-auction,
                .btn-learn-more,
                .btn-send-request,
                .btn-view-request,
                .btn-admin-dashboard {
                  font-family: "Montserrat", sans-serif;
                  font-size: 20px;
                  color: #fff;
                  justify-content: center;
                  align-items: center;
                  // grid-template-rows: 28px;
                  text-align: center;
                  border-radius: 9999px;
                  text-decoration: none;
                  transition: background-color 0.3s ease, box-shadow 0.3s ease,
                    transform 0.3s ease;
                  padding: 16px 32px;

                  @media (max-width: 768px) {
                    font-size: 18px;
                    padding: 12px 24px;
                  }
                }

                .btn1:active .btn2:active {
                  transform: translateY(0);
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }

                .btn1 {
                  grid-template-columns: 85.9896px;
                  background-color: #d4163c;
                  font-weight: 600;
                  padding: 16px 36px;
                }

                .btn1:hover {
                  background-color: #f41844;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                  transform: translateY(-3px);
                }

                .btn2 {
                  background-color: $primary-color;
                  grid-template-columns: 150.76px;
                  font-weight: 700;
                  padding: 16px 32px;
                }
                .btn2:hover {
                  background-color: #6ba5cb;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                  transform: translateY(-3px);
                }
                .btn-view-auction,
                .btn-send-request,
                .btn-view-request,
                .btn-admin-dashboard {
                  background-color: #d4163c;
                  grid-template-columns: 150.76px;
                  font-weight: 700;
                  padding: 16px 32px;
                }
                .btn-view-auction:hover,
                .btn-send-request:hover,
                .btn-view-request:hover,
                .btn-admin-dashboard:hover {
                  background-color: #f41844;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                  transform: translateY(-3px);
                }
                .btn-learn-more {
                  grid-template-columns: 85.9896px;
                  background-color: #dcb7c1;
                  border: 1px solid #d4163c;
                  font-weight: 600;
                  padding: 16px 36px;
                  color: black;
                }
                .btn-learn-more:hover {
                  background-color: #d9c1c8;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                  transform: translateY(-3px);
                }
              }
            }
          }
        }
      }
    }
  }
}

.button-group {
  display: grid;
  gap: 16px;
  grid-template-columns: 216px 216px;
  grid-template-rows: 60px;
  justify-content: center;
  margin: 40px 0px 0px;
  animation-delay: 0.4s;
}
